<div class="album-list" data-hero="alone">
  <div *ngFor="let album of musicService.albums" (click)="selectAlbum(album)" class="album-item">
    <div class="cover-container" data-hero="cover-bg" [style.backgroundColor]="album.color" [attr.data-hero-active]="album === this.musicService.selectedAlbum" >
      <div class="cover" data-hero="cover" [attr.data-hero-active]="album === this.musicService.selectedAlbum" [style.backgroundImage]="'url('+album.cover+')'"></div>
      <div class="details"><span data-hero="title" [attr.data-hero-active]="album === this.musicService.selectedAlbum">{{album.name}}</span></div>
    </div>
  </div>
</div>
