:host {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #403f4d;
}


.header {
  height: 240px;
  background: #4c4b5c;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}


.cover{
  width: 220px;
  height: 220px;
  background: #ff00ff;
  border-radius: 100%;
  background: #ff00ff;
  background-size: cover;
  background-repeat: no-repeat;
}
